# OS
.DS_Store

# Environment
/env

# Python
*.pyc
*.pyo

# Common IDEs
*~
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/lug_site/local_settings.py
/lug_site/public/static
/lug_site/public/media

lug_site.sqlite3
