{% load static from staticfiles %}
{% load get_navbar_links from lug_wiki %}

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url index %}">
                <img src="{% static "img/turtles-70.png" %}" class="logo" style="height: 70px;">
                LUG @ NC State
            </a>
            <ul class="nav">
                {% get_navbar_links as links %}
                {% for link in links %}
                    <li>
                        <a href="{{ link.url }}">{{ link.text }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav pull-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ user.get_profile.name }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url profile user.username %}">My Profile</a></li>
                            <li><a href="{% url accounts_password_change %}">Change Password</a></li>
                            <li><a href="{% url accounts_logout %}">Log Out</a></li>
                            {% if user.is_staff %}
                            <li class="divider"></li>
                            <li><a href="{% url admin:index %}">Site Admin</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url accounts_login %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
