{% extends "layout_base.html" %}
{% load gravatar %}

{% block title %}{{ profile }}{% endblock title %}

{% block body %}

   <h1 class="page-header profile-header">
        <img class="gravatar" alt="{{ profile.name }}'s avatar" src="{% gravatar_for_email profile.email 40 %}">
        <strong>{{ profile.name }}</strong>
        {% if profile.has_both_names %}
        ({{ profile.alternate_name }})
        {% endif %}
        {% if profile.user == user %}
        <a href="{% url profile_edit %}" class="btn btn-primary" style="float: right;">
            <i class="icon-pencil icon-white"></i> Edit Profile
        </a>
        {% endif %}
    </h1>

    <div class="row">
        <div class="span6 profile-bio">
            {% if profile.title %}
            <p style="font-weight: bold;">
                <i class="icon-star"></i>
                LUG {{ profile.title }}
            </p>
            {% endif %}

            <h2>Biography</h2>

            {% if profile.biography %}
            {{ profile.biography }}
            {% else %}
            <p>
                ({{ profile.name }} hasn't written a biography yet.)
            </p>
            {% endif %}
        </div>

        <div class="span6 profile-bits">
            <h2>More Information</h2>

            <table class="bits table table-condensed">
                <tbody>
                    <tr>
                        <th>Role:</th>
                        <td>{{ profile.get_role_display }}</td>
                    </tr>
                    {% for bit in profile.all_bits %}
                    <tr>
                        <th>{{ bit.bit_type.caption }}:</th>
                        <td>{{ bit.data_html }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock body %}
