{% extends "layout_base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Change Password{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span6 offset3">
            <h1>Change Password</h1>

            <form class="form-horizontal" action="" method="POST">
                {% csrf_token %}
                {{ form|as_bootstrap }}

                {% include "copy/password-advice.html" %}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}
