{% extends "layout_base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Reset Password, Part 2{% endblock title %}

{% block body %}

    <div class="row">
        <div class="span6 offset3">
            <h1>Reset Password, Part 2</h1>

            {% if validlink %}
            <p>
                Now you can pick a new password!
            </p>

            <form class="form-horizontal" action="" method="POST">
                {% csrf_token %}
                {{ form|as_bootstrap }}

                {% include "copy/password-advice.html" %}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
            {% else %}
            <p>
                Sorry, but this link has already been used, or has expired.
            </p>

            <div class="form-actions">
                {% if not user.is_authenticated %}
                <a href="{% url accounts_login %}" class="btn btn-primary">
                    Log In
                </a>
                {% endif %}
                <a href="{% url index %}" class="btn">
                    <i class="icon-arrow-left"></i>
                    Back to Home
                </a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock body %}
