<h2>Rules</h2>

<p>
    This site exists to benefit the NC State Linux community and people who
    hang out with us. We want to be a friendly, welcoming community that
    doesn't get shut down by the University. As such, keep these things in
    mind:
</p>

<ul>
    <li>
        Don't be a jerk (especially not to other members).
    </li>
    <li>
        Don't use excessive profanity. (That's what LOUDBOT's for.)
    </li>
    <li>
        Don't post or link to anything not safe for work (or school).
    </li>
    <li>
        Don't try to break the site.
    </li>
    <li>
        Don't intentionally break any laws or University policy.
    </li>
</ul>
